<template>
    <v-app id="keep">
      <v-menu></v-menu>

      <v-toolbar app>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container fluid>
            <v-fade-transition mode="out-in">
                <router-view></router-view>
            </v-fade-transition>
        </v-container>
      </v-content>
      <v-footer app></v-footer>
    </v-app>
</template>

<script>
    export default {
        data: () => ({
            title: null,
            user: null
        }),

        watch: {
            '$route' (val) {
                this.title = val.name
            }
        },
    }
</script>