<template>
    <v-navigation-drawer app class="blue-grey darken-4" dark>
        <v-toolbar flat>
            <v-list>
                <v-list-tile>
                    <v-list-tile-title class="title">
                        Blexr
                    </v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-toolbar>

        <v-divider></v-divider>

        <v-list dense class="pt-0">

            <v-list-tile>
                <v-list-tile-action>
                    <v-icon>schedule</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Work From Home Requests</v-list-tile-title>
            </v-list-tile>

            <v-list-group prepend-icon="lock">
                <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Admin</v-list-tile-title>
                    </v-list-tile>
                </template>

                <v-list-tile to="/admin/locations">
                    <v-list-tile-title>Locations</v-list-tile-title>
                    <v-list-tile-action>
                        <v-icon>store</v-icon>
                    </v-list-tile-action>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-title>Users</v-list-tile-title>
                    <v-list-tile-action>
                        <v-icon>supervisor_account</v-icon>
                    </v-list-tile-action>
                </v-list-tile>

                <v-list-tile to="/admin/licenses">
                    <v-list-tile-title>Licenses</v-list-tile-title>
                    <v-list-tile-action>
                        <v-icon>assignment</v-icon>
                    </v-list-tile-action>
                </v-list-tile>

            </v-list-group>

        </v-list>

    </v-navigation-drawer>
</template>

<script>
    export default {}
</script>