<template>
    <div>

        <v-toolbar flat>

            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex md12>
                                    <v-text-field v-model="editedItem.name" label="Location name" autofocus></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>

        <v-data-table :headers="headers" :items="locations" class="elevation-1">
            <template v-slot:items="props">
                <td>{{ props.item.name }}</td>
                <td class="text-xs">{{ props.item.created_at }}</td>
                <td class="text-xs">{{ props.item.updated_at }}</td>
                <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)">
                        edit
                    </v-icon>
                    <v-icon small @click="deleteItem(props.item)">
                        delete
                    </v-icon>
                </td>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                dialog: false,
                headers: [
                    {text: 'Name', align: 'left', value: 'name'},
                    { text: 'Created At', value: 'created_at', align: 'left',},
                    { text: 'Updated AT', value: 'updated_at', align: 'left'},
                    { text: 'Actions', value: 'name', sortable: false }
                ],
                locations: [],
                editedIndex: -1,
                editedItem: {
                    name: ''
                },
                defaultItem: {
                    name: ''
                }
            }
        },

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.loadItems()
        },

        methods: {
            loadItems () {
                axios.get('http://localhost:8088/api/locations')
                    .then(response => this.locations = response.data)
            },

            editItem (item) {
                this.editedIndex = this.locations.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                alert('not implemented yet')
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    let id = this.locations[this.editedIndex].id
                    axios.put('http://localhost:8088/api/locations/' + id, this.editedItem)
                        .then((response) => {
                            Object.assign(this.locations[this.editedIndex], this.editedItem)
                        }).catch(error => {
                            console.log(error)
                        })
                } else {
                    axios.post('http://localhost:8088/api/locations', this.editedItem)
                        .then(response => {
                            this.loadItems()
                        })
                        .catch(error => {
                            console.log(error)
                        })
                }
                this.close()
            }
        }
    }
</script>